* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.navbar {
  color: #fff;
  min-height: 80px;
  box-shadow: 0 2px 6px 0 #00000040;
  background-color: #70259b;
  display: flex;
  padding: 0 80px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  aspect-ratio: 3.33;
  object-fit: contain;
  object-position: center;
  width: 100px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}
.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 0;
}
.navMenu li {
  padding: 8px 16px;
}
.navMenu li:not(.buttonItem):hover {
  cursor: pointer;
  background-color: #5f2283;
  color: #fff;
}
.buttonItem {
  position: absolute;
  right: 80px;
}
.navLink {
  color: var(--shades-white, white);
  align-self: stretch;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  width: 92px;
  max-width: 100%;
  font: 700 14px/150% Inter, sans-serif;
}
.contactButton {
  color: var(--primary-main, #70259b);
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: var(--shades-white, #fff);
  width: 96px;
  height: 37px;
  max-width: 100%;
  border: none;
  font: 700 14px/150% Inter, -apple-system, Roboto, Helvetica, sans-serif;
}
.contactButton:hover {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
@media (max-width: 991px) {
  .contact-button {
    white-space: initial;
  }
}
@media screen and (max-width: 780px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .bar {
    background-color: #fff;
    width: 20px;
    height: 3px;
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navMenu {
    position: absolute;
    z-index: 2;
    flex-direction: column;
    gap: 20px;
    top: 75px;
    right: -100%;
    display: none;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    background-color: #f0f8ff;
    background-color: var(--primary-main, #70259b);
    padding: 10px;
    border-top: 1px solid #b8b6b600;
    align-items: center;
    box-shadow: 0 2px 6px 0 #00000040;
  }
  .navMenu.active {
    display: flex;
    right: 0;
  }
  .navMenu li {
    width: 100%;
    text-align: center;
  }
  .navLink {
    width: 100%;
  }
  .buttonItem {
    position: unset;
    right: unset;
  }
}
